
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">check</i>
        </div>
        Mua hàng thành công
    </div>
</div>