
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Assets/client/img/apple-icon.png">
    <link rel="icon" href="~/Assets/client/img/favicon.png">
    <title>
        Ecommerce &#45; Material Kit by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/material-kit.css">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Assets/client/assets-for-demo/demo.css" rel="stylesheet" />
    <link href="~/Assets/client/assets-for-demo/vertical-nav.css" rel="stylesheet" />
</head>

<body class="ecommerce ">
    <div class="header-3">
        @RenderSection("header",required:false)
    </div>
    <div class="main main-raised">
        @RenderBody()
    </div>
    <!-- end-main-raised -->
    <div class="section section-blog">
        <div class="container">
            <h2 class="section-title">Latest Articles</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a href="#pablo">
                                <img src="~/Assets/client/img/dg6.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">Trends</h6>
                            <h4 class="card-title">
                                <a href="#pablo">Learn how to wear your scarf with a floral print shirt</a>
                            </h4>
                            <p class="card-description">
                                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a href="#pablo">
                                <img src="~/Assets/client/img/dg10.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">Fashion week</h6>
                            <h4 class="card-title">
                                <a href="#pablo">Katy Perry was wearing a Dolce &amp; Gabanna arc dress</a>
                            </h4>
                            <p class="card-description">
                                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a href="#pablo">
                                <img src="~/Assets/client/img/dg9.jpg" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-rose">Fashion week</h6>
                            <h4 class="card-title">
                                <a href="#pablo">Check the latest fashion events and which are the trends</a>
                            </h4>
                            <p class="card-description">
                                Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <div class="subscribe-line subscribe-line-image" data-parallax="true" style="background-image: url(&apos;~/Assets/client/img/examples/ecommerce-header.jpg&apos;);">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="text-center">
                        <h3 class="title">Subscribe to our Newsletter</h3>
                        <p class="description">
                            Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                        </p>
                    </div>
                    <div class="card card-raised card-form-horizontal">
                        <div class="card-body">
                            <form method="" action="">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">mail</i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Your Email...">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-rose btn-block">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-black footer-big">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <h5>About Us</h5>
                        <p>Creative Tim is a startup that creates design tools that make the web development process faster and easier. </p>
                        <p>We love the web and care deeply for how users interact with a digital product. We power businesses and individuals to create better looking web projects around the world. </p>
                    </div>
                    <div class="col-md-4">
                        <h5>Social Feed</h5>
                        <div class="social-feed">
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>How to handle ethical disagreements with your clients.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>The tangible benefits of designing at 1x pixel density.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-facebook-square"></i>
                                <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Instagram Feed</h5>
                        <div class="gallery-feed">
                            <img src="~/Assets/client/img/faces/card-profile6-square.jpg" class="img img-raised rounded" alt="">
                            <img src="~/Assets/client/img/faces/christian.jpg" class="img img-raised rounded" alt="">
                            <img src="~/Assets/client/img/faces/card-profile4-square.jpg" class="img img-raised rounded" alt="">
                            <img src="~/Assets/client/img/faces/card-profile1-square.jpg" class="img img-raised rounded" alt="">
                            <img src="~/Assets/client/img/faces/marc.jpg" class="img img-raised rounded" alt="">
                            <img src="~/Assets/client/img/faces/kendall.jpg" class="img img-raised rounded" alt="">
                            <img src="~/Assets/client/img/faces/card-profile5-square.jpg" class="img img-raised rounded" alt="">
                            <img src="~/Assets/client/img/faces/card-profile2-square.jpg" class="img img-raised rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <ul class="float-left">
                <li>
                    <a href="#pablo">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Presentation
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Discover
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Payment
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Contact Us
                    </a>
                </li>
            </ul>
            <div class="copyright float-right">
                Copyright &#xA9;
                <script>document.write(new Date().getFullYear())</script> Creative Tim All Rights Reserved.
            </div>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="~/Assets/client/js/core/jquery.min.js"></script>
    <script src="~/Assets/client/js/core/popper.min.js"></script>
    <script src="~/Assets/client/js/bootstrap-material-design.js"></script>
    <!--  Google Maps Plugin  -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="~/Assets/client/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="~/Assets/client/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Assets/client/js/plugins/nouislider.min.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Assets/client/js/plugins/bootstrap-selectpicker.js"></script>
    <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="~/Assets/client/js/plugins/bootstrap-tagsinput.js"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Assets/client/js/plugins/jasny-bootstrap.min.js"></script>
    <!--	Plugin for Small Gallery in Product Page -->
    <script src="~/Assets/client/js/plugins/jquery.flexisel.js"></script>
    <!-- Plugins for presentation and navigation  -->
    <script src="~/Assets/client/assets-for-demo/js/modernizr.js"></script>
    <script src="~/Assets/client/assets-for-demo/js/vertical-nav.js"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="~/Assets/client/js/material-kit.js"></script>
    <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
    <script src="~/Assets/client/assets-for-demo/js/material-kit-demo.js"></script>
    <script>
    $(document).ready(function () {

            var slider2 = document.getElementById('sliderRefine');

            noUiSlider.create(slider2, {
                start: [101, 790],
                connect: true,
                range: {
                    'min': [30],
                    'max': [900]
                }
            });

            var limitFieldMin = document.getElementById('price-left');
            var limitFieldMax = document.getElementById('price-right');

            slider2.noUiSlider.on('update', function (values, handle) {
                if (handle) {
                    limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
                } else {
                    limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
                }
            });
        });</script>
</body>

</html>
