@model List<WebPhone.Models.CartItem>
<li class="nav-item">
    <a href="/gio-hang" class="btn btn-white btn-link float-right nav-link">
        <i class="material-icons">shopping_cart</i>
        @Model.Count Sản phẩm
    </a>
</li>