@model List<Models.EntityFramework.Menu>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-color-on-scroll navbar-transparent bg-primary fixed-top navbar-expand-lg">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    @foreach (var item in Model)
                    {
                        <li class="nav-item">
                            <a href="@item.Link" target="@item.Target" class="nav-link">
                                @item.Text
                            </a>
                        </li>
                    }
                    @{Html.RenderAction("RightMenu", "Home");}
                    @{Html.RenderAction("HeaderCart", "Home");}
                </ul>
            </div>
        </nav>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="page-header header-filter" data-parallax="true" style="background-image: url('../../Assets/client/img/slide/slide1.png');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <h1 class="title">ANDROID</h1>
                                <h4>Android là một hệ điều hành dựa trên nền tảng Linux được thiết kế dành cho các thiết bị di động có màn hình cảm ứng như điện thoại thông minh và máy tính bảng.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header header-filter" data-parallax="true" style="        background-image: url('../../Assets/client/img/slide/slide2.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h1 class="title">IOS</h1>
                                <h4>IOS là hệ điều hành trên các thiết bị di động của Apple. Đây là hệ điều hành chạy trên các sản phẩm iPhone, iPad, và iPod Touch và là hệ điều hành phổ biến thứ 2 trên toàn cầu, sau Android của Google.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header header-filter" data-parallax="true" style="        background-image: url('../../Assets/client/img/slide/slide3.jpg');
">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 ml-auto text-right">
                                <h1 class="title">WINDOWS PHONE</h1>
                                <h4>Windows Phone là hệ điều hành của Microsoft và Nokia dành cho smartphone kế tục nền tảng Windows Mobile.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>