@model List<Models.EntityFramework.Menu>
@{
    var session = (UserLogin)Session[WebPhone.Common.CommonConstants.USER_SESSION];
}
@if (session == null)
{
    foreach (var item in Model)
    {
        <li class="nav-item">
            <a href="@item.Link" target="@item.Target" class="nav-link">
                @item.Text
            </a>
        </li>
    }
}
else
{
    <li class="nav-item">
        <a class="btn btn-white btn-link float-right nav-link">Xin Chào: @session.UserName</a>
    </li>
    <li class="nav-item">
        <a href="/Admin/Login/Logout" class="btn btn-white btn-link float-right nav-link">Đăng xuất</a>
    </li>
}