<div class="sidebar" data-color="purple" data-background-color="black" data-image="~/Assets/admin/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Assets/admin/img/faces/avatar.jpg" />
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#User" class="username">
                    <span>
                        <p>
                            Admin
                        </p>
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="User">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Login/Logout">
                                <i class="material-icons">logout</i>
                                <span class="sidebar-normal">Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#SP">
                    <i class="material-icons">inventory_2</i>
                    <p>
                        Quản lý sản phẩm
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="SP">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Phones">
                                <i class="material-icons">shopping_bag</i>
                                <span class="sidebar-normal"> Sản phẩm </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Category">
                                <i class="material-icons">account_balance_wallet</i>
                                <span class="sidebar-normal"> Danh mục sản phẩm </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ND">
                    <i class="material-icons">account_box</i>
                    <p>
                        Quản lý người dùng
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="ND">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/User">
                                <i class="material-icons">people</i>
                                <span class="sidebar-normal"> Người dùng </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Deliverer">
                                <i class="material-icons">local_shipping</i>
                                <span class="sidebar-normal"> Nhân viên giao hàng </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#DH">
                    <i class="material-icons">receipt_long</i>
                    <p>
                        Quản lý đơn hàng
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="DH">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Order">
                                <i class="material-icons">credit_score</i>
                                <span class="sidebar-normal"> Đơn đặt hàng </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Comment">
                    <i class="material-icons">feedback</i>
                    <p>Phản hồi</p>
                </a>
            </li>
        </ul>
    </div>
</div>