
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
    <nav class="navbar navbar-transparent navbar-absolute navbar-expand-lg">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-translate">
                <a class="navbar-brand" href="http://www.creative-tim.com">Creative Tim</a>
                <button type="button" class="ml-auto navbar-toggler" data-toggle="collapse" data-target="#navigation-example3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navigation-example3">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#pablo" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#pablo" class="nav-link">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#pablo" class="nav-link">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#pablo" class="nav-link">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Carousel Card -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="page-header header-filter" style="background-image: url('../../Assets/client/img/dg1.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <h1 class="title">Material Kit PRO</h1>
                                <h4>Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                <br>
                                <div class="buttons">
                                    <a href="#pablo" class="btn btn-danger btn-lg">
                                        Read More
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-link">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-link">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-link">
                                        <i class="fa fa-get-pocket"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header header-filter" style="background-image: url('../../Assets/client/img/dg2.jpg'); ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h1 class="title">Material Kit PRO</h1>
                                <h4>Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano by Italian designers Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
                                <br>
                                <h6>Connect with us on:</h6>
                                <div class="buttons">
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header header-filter" style="background-image: url('../../Assets/client/img/dg3.jpg'); ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 ml-auto text-right">
                                <h1 class="title">New Collection 50% Off</h1>
                                <h4>There's no doubt that Tesla is delighted with the interest, but the data also raises a few questions. How long will it take for Tesla to fulfill all those extra orders?</h4>
                                <br>
                                <div class="buttons">
                                    <a href="#pablo" class="btn btn-white btn-link btn-lg">
                                        <i class="material-icons">share</i> Share Offer
                                    </a>
                                    <a href="#pablo" class="btn btn-danger btn-lg">
                                        <i class="material-icons">shopping_cart</i> Shop Now
                                        <div class="ripple-container"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="material-icons">keyboard_arrow_left</i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="material-icons">keyboard_arrow_right</i>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Carousel Card -->
}
<div class="section">
    <div class="container">
        <h2 class="section-title">Latest Offers</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-header card-header-image">
                        <a href="#pablo">
                            <img src="~/Assets/client/img/examples/gucci.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">
                            <a href="#pablo">Gucci</a>
                        </h4>
                        <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                    </div>
                    <div class="card-footer">
                        <div class="price-container">
                            <span class="price price-old"> €1,430</span>
                            <span class="price price-new"> €743</span>
                        </div>
                        <div class="stats ml-auto">
                            <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                                <i class="material-icons">favorite</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-header card-header-image">
                        <a href="#pablo">
                            <img src="~/Assets/client/img/examples/dolce.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Dolce &amp; Gabbana</h4>
                        <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                    </div>
                    <div class="card-footer">
                        <div class="price-container">
                            <span class="price price-old"> €1,430</span>
                            <span class="price price-new">€743</span>
                        </div>
                        <div class="stats ml-auto">
                            <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                                <i class="material-icons">favorite</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="card-header card-header-image">
                        <a href="#pablo">
                            <img src="~/Assets/client/img/examples/tom-ford.jpg" alt="">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Dolce &amp; Gabbana</h4>
                        <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                    </div>
                    <div class="card-footer">
                        <div class="price-container">
                            <span class="price price-old"> €1,430</span>
                            <span class="price price-new">€743</span>
                        </div>
                        <div class="stats ml-auto">
                            <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                                <i class="material-icons">favorite</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section -->
<div class="section">
    <div class="container">
        <h2 class="section-title">Find what you need</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-refine card-plain card-rose">
                    <div class="card-body">
                        <h4 class="card-title">
                            Refine
                            <button class="btn btn-default btn-fab btn-fab-mini btn-link pull-right" rel="tooltip" title="" data-original-title="Reset Filter">
                                <i class="material-icons">cached</i>
                            </button>
                        </h4>
                        <div id="accordion" role="tablist">
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Price Range
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body card-refine">
                                        <span id="price-left" class="price-left pull-left" data-currency="€">€42</span>
                                        <span id="price-right" class="price-right pull-right" data-currency="€">€880</span>
                                        <div class="clearfix"></div>
                                        <div id="sliderRefine" class="slider slider-rose noUi-target noUi-ltr noUi-horizontal"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Clothing
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked> Blazers
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Casual Shirts
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Formal Shirts
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Jeans
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Polos
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Pyjamas
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Shorts
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Trousers
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Designer
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked> All
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Polo Ralph Lauren
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Wooyoungmi
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Alexander McQueen
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Tom Ford
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> AMI
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Berena
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Thom Sweeney
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Burberry Prorsum
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Calvin Klein
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Kingsman
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Club Monaco
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Dolce &amp; Gabbana
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Gucci
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Biglioli
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Lanvin
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Loro Piana
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Massimo Alba
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingFour">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Colour
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked> All
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Black
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Blue
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Brown
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Gray
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Green
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Neutrals
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value=""> Purple
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                            <div class="card-header card-header-image">
                                <a href="#">
                                    <img src="~/Assets/client/img/examples/suit-1.jpg" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <h4 class="card-title">Polo Ralph Lauren</h4>
                                </a>
                                <p class="description">
                                    Impeccably tailored in Italy from lightweight navy wool.
                                </p>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price-container">
                                    <span class="price"> € 800</span>
                                </div>
                                <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                            <div class="card-header card-header-image">
                                <a href="#">
                                    <img src="~/Assets/client/img/examples/suit-2.jpg" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <h4 class="card-title">Wooyoungmi</h4>
                                </a>
                                <p class="description">
                                    Dark-grey slub wool, pintucked notch lapels.
                                </p>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price-container">
                                    <span class="price">€ 555</span>
                                </div>
                                <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                    <i class="material-icons">favorite_border</i>
                                </button>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                            <div class="card-header card-header-image">
                                <a href="#">
                                    <img src="~/Assets/client/img/examples/suit-3.jpg" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <h4 class="card-title">Tom Ford</h4>
                                </a>
                                <p class="description">
                                    Immaculate tailoring is TOM FORD's forte.
                                </p>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price-container">
                                    <span class="price"> € 879</span>
                                </div>
                                <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                    <i class="material-icons">favorite_border</i>
                                </button>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                            <div class="card-header card-header-image">
                                <a href="#">
                                    <img src="~/Assets/client/img/examples/suit-4.jpg" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <h4 class="card-title">Thom Sweeney</h4>
                                </a>
                                <p class="description">
                                    It's made from lightweight grey wool woven.
                                </p>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price-container">
                                    <span class="price"> € 680</span>
                                </div>
                                <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                    <i class="material-icons">favorite_border</i>
                                </button>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                            <div class="card-header card-header-image">
                                <a href="#">
                                    <img src="~/Assets/client/img/examples/suit-5.jpg" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <h4 class="card-title">Kingsman</h4>
                                </a>
                                <p class="description">
                                    Crafted from khaki cotton and fully canvassed.
                                </p>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price-container">
                                    <span class="price"> € 725</span>
                                </div>
                                <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                    <i class="material-icons">favorite</i>
                                </button>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain no-shadow" data-colored-shadow="false">
                            <div class="card-header card-header-image">
                                <a href="#">
                                    <img src="~/Assets/client/img/examples/suit-6.jpg" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <h4 class="card-title">Boglioli</h4>
                                </a>
                                <p class="description">
                                    Masterfully crafted in Northern Italy.
                                </p>
                            </div>
                            <div class="card-footer justify-content-between">
                                <div class="price-container">
                                    <span class="price">€ 699</span>
                                </div>
                                <button class="btn btn-rose btn-link btn-fab btn-fab-mini btn-round pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                    <i class="material-icons">favorite_border</i>
                                </button>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-md-3 ml-auto mr-auto">
                        <button rel="tooltip" class="btn btn-rose btn-round" data-original-title="" title="">Load more...</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <h2 class="section-title">News in fashion</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-background" style="        background-image: url(../../Assets/client/img/examples/color1.jpg)">
                    <div class="card-body">
                        <h6 class="card-category text-info">Productivy Apps</h6>
                        <a href="#pablo">
                            <h3 class="card-title">The best trends in fashion 2017</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-round">
                            <i class="material-icons">subject</i> Read
                        </a>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <div class="col-md-4">
                <div class="card card-background" style="        background-image: url(../../Assets/client/img/examples/color3.jpg)">
                    <div class="card-body">
                        <h6 class="card-category text-info">Fashion News</h6>
                        <h3 class="card-title">Kanye joins the Yeezy team at Adidas</h3>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-round">
                            <i class="material-icons">subject</i> Read
                        </a>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <div class="col-md-4">
                <div class="card card-background" style="        background-image: url(../../Assets/client/img/examples/color2.jpg)">
                    <div class="card-body">
                        <h6 class="card-category text-info">Productivy Apps</h6>
                        <a href="#pablo">
                            <h3 class="card-title">Learn how to use the new colors of 2017</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-round">
                            <i class="material-icons">subject</i> Read
                        </a>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="        background-image: url(../../Assets/client/img/dg3.jpg)">
                    <div class="card-body">
                        <h6 class="card-category text-info">Tutorials</h6>
                        <a href="#pablo">
                            <h3 class="card-title">Trending colors of 2017</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-round">
                            <i class="material-icons">subject</i> Read
                        </a>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <div class="col-md-6">
                <div class="card card-background" style="        background-image: url(../../Assets/client/img/dg1.jpg)">
                    <div class="card-body">
                        <h6 class="card-category text-info">Productivy Style</h6>
                        <a href="#pablo">
                            <h3 class="card-title">Fashion &amp; Style 2017</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-round">
                            <i class="material-icons">subject</i> read
                        </a>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
</div>
<!-- section -->
